<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer - Your Translation</h1>
    <%= @text.break_and_shift %>
  
  </body>
</html>